/* Created by Algos s.r.l. */
/* Date: mag 2012 */
/* Questo file è stato installato dal plugin AlgosBase */
/* Tipicamente NON verrà più sovrascritto dalle successive release del plugin */
/* in quanto POTREBBE essere personalizzato in questa applicazione */
/* Se vuoi che le prossime release del plugin sovrascrivano questo file, */
/* perdendo tutte le modifiche effettuate qui, */
/* regola a true il flag di controllo flagOverwrite© */
/* flagOverwrite = false */

/* FONT STACK */
body,
input, select, textarea {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}

/* BASE LAYOUT */

html {
    background-color: #ddd;
    background-image: -moz-linear-gradient(center top, #aaa, #ddd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #ddd));
    background-image: linear-gradient(top, #aaa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#aaaaaa', EndColorStr = '#dddddd');
    background-repeat: no-repeat;
    height: 100%;
    /* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html.no-cssgradients {
    background-color: #aaa;
}

.ie6 html {
    height: 100%;
}

html * {
    margin: 0;
}

body {
    background: #dddddd;
    color: #333333;
    margin: 0 auto;
    /*max-width: 1200px;*/
    /*margin: 2em 2em 2em 2em;*/
    overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
    -moz-box-shadow: 0 0 0.3em #255b17;
    -webkit-box-shadow: 0 0 0.3em #255b17;
    box-shadow: 0 0 0.3em #255b17;
}

#grailsLogo {
    background-color: #ff0000;
    color: #000000;
    font-weight: bold;
    font-size: 1.5em;
}

/* replace with .no-boxshadow body if you have modernizr available */
.ie6 body,
.ie7 body,
.ie8 body {
    border-color: #255b17;
    border-style: solid;
    border-width: 0 1px;
}

.ie6 body {
    height: 100%;
}

/* modificato per evitare la sottolineatura */
a:link, a:visited, a:hover {
    color: #4444dd;
    font-weight: bold;
    text-decoration: none;
}

a:hover, a:active {
    outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

h1 {
    color: #48802c;
    font-weight: bold;
    font-size: 1.25em;
    margin: 0.8em 0 0.3em 0;
}

ul {
    padding: 0;
}

img {
    border: 0;
}

/* GENERAL */

#grailsLogo a {
    display: inline-block;
    margin: 0.1em 0 0 0.5em;
}

.content {
}

.content h1 {
    border-bottom: 1px solid #CCCCCC;
    margin: 0.8em 1em 0.3em;
    padding: 0 0.25em;
}

.scaffold-list h1 {
    border: none;
}

.footer {
    background: #ff0000;
    color: #000;
    clear: both;
    font-size: 0.8em;
    margin-top: 1.5em;
    padding: 1em;
    min-height: 1em;
}

.footer a {
    color: #ff0000;
}

.spinner {
    background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
    height: 16px;
    width: 16px;
    padding: 0.5em;
    position: absolute;
    right: 0;
    top: 0;
    text-indent: -9999px;
}

/* NAVIGATION MENU */

.nav {
    background-color: #efefef;
    padding: 0.5em 0.75em;
    -moz-box-shadow: 0 0 3px 1px #aaaaaa;
    -webkit-box-shadow: 0 0 3px 1px #aaaaaa;
    box-shadow: 0 0 3px 1px #aaaaaa;
    zoom: 1;
}

.nav ul {
    overflow: hidden;
    padding-left: 0;
    zoom: 1;
}

.nav li {
    display: block;
    float: left;
    list-style-type: none;
    margin-right: 0.5em;
    padding: 0;
}

.nav a {
    color: #666666;
    display: block;
    padding: 0.25em 0.7em;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.nav a:active, .nav a:visited {
    color: #666666;
}

.nav a:focus, .nav a:hover {
    background-color: #999999;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .nav a:focus, .no-borderradius .nav a:hover {
    background-color: transparent;
    color: #444444;
    text-decoration: underline;
}

.nav a.home, .nav a.list, .nav a.create, .nav a.edit {
    background-position: 0.7em center;
    background-repeat: no-repeat;
    text-indent: 25px;
}

.nav a.home {
    background-image: url(../images/skin/house.png);
}

.nav a.list {
    background-image: url(../images/skin/database_table.png);
}

.nav a.create {
    background-image: url(../images/skin/database_add.png);
}

.nav a.edit {
    background-image: url(../images/skin/database_edit.png);
}

.nav a.login {
    background-position: 0.7em center;
    background-repeat: no-repeat;
    text-indent: 25px;
    background-image: url(../images/skin/arrow_in.png);
}

.nav a.logout {
    background-position: 0.7em center;
    background-repeat: no-repeat;
    text-indent: 25px;
    background-image: url(../images/skin/arrow_out.png);
}

.nav a.tabellonePrima {
    background-position: 0.7em center;
    background-repeat: no-repeat;
    text-indent: 25px;
    background-image: url(../images/skin/arrow_left.png);
}

.nav a.tabelloneLunedi {
    background-position: 0.7em center;
    background-repeat: no-repeat;
    text-indent: 25px;
    background-image: url(../images/skin/arrow_branch.png);
}

.nav a.tabelloneOggi {
    background-position: 0.7em center;
    background-repeat: no-repeat;
    text-indent: 25px;
    background-image: url(../images/skin/arrow_down.png);
}

.nav a.tabelloneDopo {
    background-position: 0.7em center;
    background-repeat: no-repeat;
    text-indent: 25px;
    background-image: url(../images/skin/arrow_right.png);
}

/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,
.property-list {
    margin: 0.6em 1.25em 0 1.25em;
    padding: 0.3em 1.8em 1.25em;
    position: relative;
    zoom: 1;
    border: none;
}

.property-list .fieldcontain {
    list-style: none;
    overflow: hidden;
    zoom: 1;
}

.fieldcontain {
    margin-top: 1em;
}

.fieldcontain label,
.fieldcontain .property-label {
    color: #666666;
    text-align: right;
    width: 25%;
}

.fieldcontain .property-label {
    float: left;
}

.fieldcontain .property-value {
    display: block;
    margin-left: 27%;
}

label {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25em 0 0;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #cccccc;
    font-size: 1em;
    padding: 0.2em 0.4em;
}

select {
    padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
    vertical-align: top;
}

textarea {
    width: 300px;
    height: 100px;
    overflow: auto; /* IE always renders vertical scrollbar without this */
    vertical-align: top;
}

input[type=checkbox], input[type=radio] {
    background-color: transparent;
    border: 0;
    padding: 0;
}

input:focus, select:focus, textarea:focus {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    outline: 0;
    -moz-box-shadow: 0 0 0.5em #ffffff;
    -webkit-box-shadow: 0 0 0.5em #ffffff;
    box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
    color: #48802C;
    display: inline-block;
    font-weight: bold;
    margin-left: 0.3em;
    position: relative;
    top: 0.1em;
}

ul.one-to-many {
    display: inline-block;
    list-style-position: inside;
    vertical-align: top;
}

.ie6 ul.one-to-many, .ie7 ul.one-to-many {
    display: inline;
    zoom: 1;
}

ul.one-to-many li.add {
    list-style-type: none;
}

/* EMBEDDED PROPERTIES */

fieldset.embedded {
    background-color: transparent;
    border: 1px solid #CCCCCC;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

fieldset.embedded legend {
    margin: 0 1em;
}

/* MESSAGES AND ERRORS */

.errors, .message {
    font-size: 0.8em;
    line-height: 2;
    margin: 1em 2em;
    padding: 0.25em;
}

.message {
    background: #f3f3ff;
    border: 1px solid #b2d1ff;
    color: #006dba;
    -moz-box-shadow: 0 0 0.25em #b2d1ff;
    -webkit-box-shadow: 0 0 0.25em #b2d1ff;
    box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
    background: #fff3f3;
    border: 1px solid #ffaaaa;
    color: #cc0000;
    -moz-box-shadow: 0 0 0.25em #ff8888;
    -webkit-box-shadow: 0 0 0.25em #ff8888;
    box-shadow: 0 0 0.25em #ff8888;
}

.errors ul, .message {
    padding: 0;
}

.errors li {
    list-style: none;
    background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat;
    text-indent: 2.2em;
}

.errors {
    background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat;
    text-indent: 2.2em;
}

.message {
    background: transparent url(../images/skin/information.png) 0.5em 50% no-repeat;
    text-indent: 2.2em;
}

/* form fields with errors */

.error input, .error select, .error textarea {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
    -moz-box-shadow: 0 0 0.5em #ffaaaa;
    -webkit-box-shadow: 0 0 0.5em #ffaaaa;
    box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
    -moz-box-shadow: 0 0 0.5em #ffaaaa;
    -webkit-box-shadow: 0 0 0.5em #ffaaaa;
    box-shadow: 0 0 0.5em #ffaaaa;
}

/* TABLES */

table {
    border-top: 1px solid #DFDFDF;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}

tr {
    border: 0;
}

tr>td:first-child, tr>th:first-child {
    padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
    padding-right: 1.25em;
}

td, th {
    line-height: 1em;
    padding: 0.5em 0.6em;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #ff0000;
    background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
    color: #444444;
    font-weight: bold;
    line-height: 1.7em;
    padding: 0.2em 0.6em;
}

thead th {
    background-color: #ff0000;
    white-space: nowrap;
    color: #444444;
}

th a {
    display: block;
    text-decoration: none;
}

th a:link, th a:visited {
    color: #444444;
}

th a:hover, th a:focus {
    color: #333333;
}

th.sortable a {
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 1.1em;
}

th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}

.even {
    background: #ffffff;
}

th:hover, tr:hover {
    background: #E1F2B6;
}

/* PAGINATION */

.pagination {
    border-top: 0;
    margin: 0;
    padding: 0.3em 0.2em;
    text-align: center;
    -moz-box-shadow: 0 0 3px 1px #AAAAAA;
    -webkit-box-shadow: 0 0 3px 1px #AAAAAA;
    box-shadow: 0 0 3px 1px #AAAAAA;
    background-color: #EFEFEF;
}

.pagination a,
.pagination .currentStep {
    color: #666666;
    display: inline-block;
    margin: 0 0.1em;
    padding: 0.25em 0.7em;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
    background-color: #999999;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
    background-color: transparent;
    color: #444444;
    text-decoration: underline;
}

/* ACTION BUTTONS */

.buttons {
    background-color: #efefef;
    overflow: hidden;
    padding: 0.3em;
    -moz-box-shadow: 0 0 3px 1px #aaaaaa;
    -webkit-box-shadow: 0 0 3px 1px #aaaaaa;
    box-shadow: 0 0 3px 1px #aaaaaa;
    margin: 0.1em 0 0 0;
    border: none;
}

.buttons input,
.buttons a {
    background-color: transparent;
    border: 0;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25em 0;
    overflow: visible;
    padding: 0.25em 0.7em;
    text-decoration: none;

    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.buttons input:hover, .buttons input:focus,
.buttons a:hover, .buttons a:focus {
    background-color: #999999;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.no-borderradius .buttons input:hover, .no-borderradius .buttons input:focus,
.no-borderradius .buttons a:hover, .no-borderradius .buttons a:focus {
    background-color: transparent;
    color: #444444;
    text-decoration: underline;
}

.buttons .delete, .buttons .edit, .buttons .save {
    background-position: 0.7em center;
    background-repeat: no-repeat;
    text-indent: 25px;
    font-weight: bold;
}

.buttons .delete {
    background-image: url(../images/skin/database_delete.png);
}

.buttons .edit {
    background-image: url(../images/skin/database_edit.png);
}

.buttons .save {
    background-image: url(../images/skin/database_save.png);
}

a.skip {
    position: absolute;
    left: -9999px;
}

.topbanner {
    height: 60px;
    background-color: #dddfff;
    color: #fffff0;
}

.buttons input.tabellonePrima {
    background: transparent url(../images/skin/database_table.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.tabelloneDopo {
    background: transparent url(../images/skin/database_table.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.menuButton a.tabellonePrima {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #555;
    padding-left: 25px;
}

.menuButton a.tabelloneDopo {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #555;
    padding-left: 25px;
}

/* Titolo pagina */
th.titoloimmagine, th.titolocroce, th.titolologin {
    padding-left: 0px;
    line-height: 1.3em;
    vertical-align: middle;
    background: #ff0000;
    background-color: #ff0000;
    color: #000000;
}

th.titoloimmagine {
    font-size: 1.2em;
    text-align: left;
}

th.titolocroce {
    font-size: 1.3em;
    text-align: left;
}

th.titolologin {
    font-size: 0.7em;
    font-weight: bold;
    text-align: right;
}

/* TABELLONE */
/* Titoli */
th.titolilegenda, th.titoligiorni {
    line-height: 1.2em;
    background: #ff0000;
    background-color: #ff0000;
    color: #000000;
}

th.titolilegenda {
    text-align: center;
}

th.titoligiorni {
    text-align: left;
}

/* Corpo */
td.legendatipo, td.legendatipoodd, td.legendatipooddbordo, td.legendatipoeven,
td.legendatipoevenbordo, td.legendafunzione, td.legendaorario, td.turnoorario,
td.turnovuoto, td.turnoprevisto, td.turnoassegnato, td.turnolibero,
td.turnocritico, td.turnobloccato, td.turnoeffettuato {
    line-height: 0.3em;
}

/* Legenda (a sinistra) */
td.legendatipo, td.legendatipoodd, td.legendatipooddbordo, td.legendatipoeven, td.legendatipoevenbordo {
    line-height: 1em;
    font-weight: bold;
    vertical-align: middle;
}

td.legendatipo {
    background: #dddddd;
}

td.legendatipoodd {
    background: #f7f7f7;
}

td.legendatipooddbordo {
    background: #f7f7f7;
    border-width: 0 0 4px 0;
    padding: 4px;
    border-style: solid;
    border-color: blue;
}

td.legendatipoeven {
    background: #ffffff;
}

td.legendatipoevenbordo {
    background: #ffffff;
    border-width: 0 0 4px 0;
    padding: 4px;
    border-style: solid;
    border-color: blue;
}

td.legendafunzione {
    text-align: left;
    background: #cccccc;
}

td.legendaorario {
    text-align: left;
    background: #ffdddd;
}

td.legendaorariobordo {
    text-align: left;
    background: #ffdddd;
    border-width: 0 0 4px 0;
    padding: 4px;
    border-style: solid;
    border-color: blue;
}

/* Turni (a destra) */
td.turnoorario {
    background: #ffeeee;
}

td.turnoorariobordo {
    background: #ffeeee;
    border-width: 0 0 4px 0;
    padding: 4px;
    border-style: solid;
    border-color: blue;
}

td.turnovuoto, td.turnoprevisto, td.turnoassegnato, td.turnolibero,
td.turnocritico, td.turnobloccato, td.turnoeffettuato {
    border-width: 1px;
    border-style: solid;
    border-color: blue;    border-collapse: collapse;
}

td.turnovuoto {
    background: #eeeeee;
}

td.turnoprevisto {
    background: #e1f2b6;
}

td.turnoassegnato {
    background: #44ff44;
}

td.turnolibero {
    background: #fcefa1;
}

td.turnocritico {
    background: #ff4444;
}

td.turnobloccato {
    background: #4444ff;
}

td.turnoeffettuato {
    background: #aaaaaa;
}

td.turnovuotobordo, td.turnoprevistobordo, td.turnoassegnatobordo, td.turnoliberobordo,
td.turnocriticobordo, td.turnobloccatobordo, td.turnoeffettuatobordo {
    border-style: solid;
    border-collapse: collapse;
    border-width: 0 1px 4px 1px;
    padding: 4px;
    border-style: solid;
    border-color: blue;
}

td.turnovuotobordo {
    background: #eeeeee;
}

td.turnoprevistobordo {
    background: #e1f2b6;
}

td.turnoassegnatobordo {
    background: #44ff44;
}

td.turnoliberobordo {
    background: #fcefa1;
}

td.turnocriticobordo {
    background: #ff4444;
}

td.turnobloccatobordo {
    background: #4444ff;
}

td.turnoeffettuatobordo {
    background: #aaaaaa;
}

td.tab {
    line-height: 0.5em;
    background-color: #0000ff;
    color: #ff0000;
}

.buttonamb {
    display: block;
    height: 20px;
    width: 80px;
    background: #4444ff;
}

th.footerlegenda {
    background: #339966;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    vertical-align: middle;
    border-width: 2px 0 0 0;
    padding: 2px;
    border-style: solid;
    border-color: blue;
}

table.formtable {
    background: #a9f5a9;
    width: 800px;
}

td.formlabelleft, td.formlabelright, td.formeditleft, td.formeditright, td.formlegenda {
    font-size: 1.1em;
    vertical-align: middle;
}

td.formlabelleft {
    text-align: left;
}

td.formlabelright {
    text-align: right;
}

td.formeditleft {
    text-align: left;
    font-weight: bold;
}

td.formeditright {
    text-align: right;
    font-weight: bold;
}

td.formlegenda {
    font-size: 0.8em;
    color: #ff0000;
}

.formnote {
    width: 300px;
    height: 100px;
}

.formcaption {
    color: #339966;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
}

table.amb {
    border-width: 2px;
    border-spacing: 3px;
    border-style: solid;
    border-color: blue;
    border-collapse: collapse;
    background-color: rgb(255, 250, 250);
}

td.copyright {
    background: #339966;
    color: #ffffff;
    font-size: 0.6em;
    font-weight: normal;
    vertical-align: middle;
    /*    border-width: 2px 0 0 0;*/
    padding: 2px;
    /*border-style: solid;*/
    /*border-color: blue;*/
}

td.verde {
    color: green;
    font-weight: bold;
}

td.rosso {
    color: red;
    font-weight: bold;
}
